:root {
    --verde: #DDE3A3;
    --cinza-claro: #EDF0E7;
    --rosa-claro: #F8C7BE;
    --rosa-medio: #D87E9A;
    --roxo: #744982;
    --preto: #000;
}

body {
    background-color: var(--rosa-medio);
    color: var(--preto);
}

.papel {
    max-width: 500px;
    margin: 80px auto;
    padding: 40px 15px 20px 15px;
    background-color: var(--cinza-claro);
    border: 2px solid var(--roxo);
    border-radius: 8px;
}

ul {
    padding: 0;
}

li {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    padding-bottom: 20px;
    list-style: none;
}

button {
    margin-left: auto;
}

span {
    border-bottom: 2px solid var(--roxo);
    flex: 1;
}

input[type="checkbox"] {
    width: 25px;
    height: 25px;
    appearance: none;
    border: 2px solid var(--roxo);
    border-radius: 5px;
}

input[type="checkbox"]:checked {
    background-color: var(--verde);
}